{<<"app">>,<<"elixlsx">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Elixlsx is a writer for the MS Excel OpenXML format (`.xlsx`).">>}.
{<<"elixir">>,<<"~> 1.12">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/elixlsx.ex">>,<<"lib/elixlsx">>,<<"lib/elixlsx/style">>,
  <<"lib/elixlsx/style/fill.ex">>,<<"lib/elixlsx/style/cell_style.ex">>,
  <<"lib/elixlsx/style/num_fmt.ex">>,<<"lib/elixlsx/style/border.ex">>,
  <<"lib/elixlsx/style/font.ex">>,<<"lib/elixlsx/style/border_style.ex">>,
  <<"lib/elixlsx/xml.ex">>,<<"lib/elixlsx/compiler">>,
  <<"lib/elixlsx/compiler/num_fmt_db.ex">>,
  <<"lib/elixlsx/compiler/string_db.ex">>,
  <<"lib/elixlsx/compiler/cell_style_db.ex">>,
  <<"lib/elixlsx/compiler/fill_db.ex">>,
  <<"lib/elixlsx/compiler/border_db.ex">>,
  <<"lib/elixlsx/compiler/db_util.ex">>,
  <<"lib/elixlsx/compiler/sheet_comp_info.ex">>,
  <<"lib/elixlsx/compiler/workbook_comp_info.ex">>,
  <<"lib/elixlsx/compiler/font_db.ex">>,<<"lib/elixlsx/writer.ex">>,
  <<"lib/elixlsx/workbook.ex">>,<<"lib/elixlsx/xml_templates.ex">>,
  <<"lib/elixlsx/compiler.ex">>,<<"lib/elixlsx/sheet.ex">>,
  <<"lib/elixlsx/util.ex">>,<<"lib/elixlsx/color.ex">>,<<".formatter.exs">>,
  <<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,<<"CHANGELOG.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Changelog">>,<<"https://hexdocs.pm/elixlsx/changelog.html">>},
  {<<"GitHub">>,<<"https://github.com/xou/elixlsx">>}]}.
{<<"name">>,<<"elixlsx">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.6.0">>}.
